/* @import url("https://fonts.googleapis.com/css2?family=Almendra:wght@400;700&display=swap"); */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;500;600;700;800;900&display=swap');


html,
body,
#root
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: ivory;
}

.htmlScreenTop iframe
{
    width: 1920px;
    height: 1080px;
    border: none;
    border-radius: 20px;
    background: black;
    overflow: hidden;
}

.htmlScreenSides iframe
{
    width: 3840px;
    height: 2160px;
    border: none;
    border-radius: 20px;
    background: black;
    overflow: hidden;
}

.htmlScreenTV iframe
{
    width: 1920px;
    height: 1080px;
    border: none;
    border-radius: 20px;
    background: rgb(46, 46, 46);
    overflow: hidden;
    padding: 10px;
}

h1
{
    font-size: 40px;
    font-weight: 700;
}

p
{
    font-size: 16px;
    font-weight: 300;
}

/*****************************************
* Html Screens
******************************************/

/**
* Phone
*/

.PhonePanel 
{
    width: 100%;
    /* height: 400px; */
    border: none;
    border-radius: 50px;
    background: rgb(46, 46, 46);
    overflow: hidden;
    padding: 40px;
    /* justify-content: center; */
}

.PhoneGrid
{
    display: grid;
    /* grid-template-columns: repeat(2, 1fr); */
    padding: 300px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 25px;

    /* width: 100%; */
    font-family: 'Montserrat', sans-serif;
}

.PhonePanel h1
{
    width: Auto;
    height: auto;
    text-align: Center;
    font-weight: 700;
}

.PhonePanel p
{
    width: Auto;
    height: auto;
    text-align: Center;
    font-size: 30px;
}

.PhonePanel1
{
    width: Auto;
    height: auto;
    text-align: Center;
}

.PhonePanelImage 
{
    width: auto;
    height: auto;
    /* text-align: Center; */
    border-radius: 50px;
    /* background: rgb(154, 154, 154); */
    justify-content: center;
}

.PhonePanelImage img
{
    margin: auto;
    width: auto;
    height: 700px;
    /* text-align: Center; */
    border-radius: 50px;
    background: rgb(154, 154, 154);
}

/**
* Contact Info
*/

.ContactGrid
{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 5fr;
    grid-column-gap: 0px;
    grid-row-gap: 25px;
    grid-column-start: 1;

    width: 100%;
    /* background: rgb(46, 46, 46); */
    border-radius: 50px;
    /* padding: 20px 40px; */

    
}

.ContactGrid a
{
  font-size: 40px;
  font-weight: 600;
  color: #ffffff;
}

.ContactGrid h2
{
  font-size: 30px;
}

.ContactTextGrid
{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    width: 100%;
    background: rgb(46, 46, 46);
    border-radius: 50px;
    padding: 40px;
    text-align: left;
}

.htmlPhone
{
    /* background-color: black;
    color: white;
    padding: 50px;
    width: 1812px;
    height: 2176px;
    border-radius: 50px; */
}

/**
* Paper
*/
.paper p
{
    text-align: left;
    justify-content: left;
    text-indent: 100px;
}

.paper h1
{
    text-align: left;
    justify-content: left;
    font-size: 15px;
}

.paperText
{
    margin-top: 160px;
}


/**
* Book
*/
.BookGrid
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 40px;
    grid-row-gap: 0px;
    grid-column-start: 1;

    width: 100%;
    font-family: 'Montserrat', sans-serif;
    /* background: rgb(46, 46, 46); */
    /* border-radius: 50px; */
    /* padding: 20px 40px; */
}

.BookText p
{
    text-align: left;
    justify-content: left;
    /* text-indent: 60px; */
    font-size: 18px;
    font-weight: 300;
}

.BookGridPage1 
{
    grid-column-start: 1;
    grid-column-end: 1;
    margin: 10px;
}

.BookGridPage2
{
    grid-column-start: 2;
    grid-column-end: 2;
    margin: 10px;
}

.mugWrapper
{
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    text-decoration: none;
    background-color: rgb(255, 0, 0);
    padding: 50px;
    border-radius: 100px;
}

.htmlMug a 
{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    text-decoration: none;
    color: black;
}



.mugWrapper:hover
{
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    text-decoration: none;
    color:rgb(255, 238, 0);
    background-color: rgb(0, 55, 255);
}



/**
* 
*/
.infoText
{
    position: absolute;
    bottom: 10px;
    left: 10px;
    /* width: 10; */

    padding: 10px;
    background: #00000033;
    border-radius: 12px;
    color: #ffffff;
    text-align: center;
    font-size: 2vh;
}

/**
/ Loading Screen
*/
.loadingScreen {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0%;
    right: 0;
    background-color: inherit;
    background-image: inherit;
    display: flex;
    /* align-items: center;
    justify-content: center; */
    transition: opacity 4s;
    z-index: 1;
    font-family: 'Montserrat', sans-serif;
  }
  
  .loadingScreen__board {
    /* padding: 64px; */
    width: 400px;
    /* background-color: rgba(110, 173, 255, 0.42); */
    border-radius: 24px;
    text-align: center;
    border: none 6px rgb(0 0 0 / 12%);
    /* border-style: ridge; */
    transition: opacity 0.4s;
    position: absolute;
    bottom: 40%;
    left: calc(50vw - 200px);
  }
  
  .loadingScreen__title {
    font-size: 4rem;
    color: rgba(0, 0, 0, 0.5);
    margin: 0;
    margin-bottom: 8px;
  }
  
  .loadingScreen__button {
    padding: 8px 32px;
    background-color: rgba(0, 0, 0, 0.24);
    color: white;
    border: none;
    font-weight: bold;
    font-size: 2.5rem;
    border-radius: 8px;
    transition: background-color 0.4s;
    font-family: 'Montserrat', sans-serif;
  }
  
  .loadingScreen__button:hover {
    background-color: rgba(0, 0, 0, 0.79);
    cursor: pointer;
  }
  
  .loadingScreen__button:disabled {
    opacity: 0;
    cursor: not-allowed;
  }
  
  .loadingScreen__progress {
    position: absolute;
    /* margin-top: 0px; */
    bottom: 20%;
    left: 0;
    width: 80vw;
    left: calc(50vw - 40vw);
    height: 12px;
  }
  
  .loadingScreen__progress__value {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.207);
    transition: width 0.4s;
  }
  
  .loadingScreen--started {
    opacity: 0;
    pointer-events: none;
  }
  
  .loadingScreen--started .loadingScreen__board {
    opacity: 0;
  }
  